{% import "icons.html" as icons %}

{% macro status(example_name, platform, run) %}
{% if run.results[example_name][platform] -%}
{% if run.results[example_name][platform] == "Successes" -%}
{% if run.screenshots[example_name][platform] -%}
<div data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html=true data-bs-custom-class="image-popover"
    data-bs-content='<img class="img-fluid" src="{{ run.screenshots[example_name][platform].0 }}" />'>
    <a href="{{ run.screenshots[example_name][platform].2 }}" target="_blank">
        {% if run.screenshots[example_name][platform].1 == "Similar" -%}
        {{ icons::changed() }}
        {% else -%}
        {{ icons::success() }}
        {% endif -%}
    </a>
</div>
{% else -%}
{{ icons::missing_screenshot() }}
{% endif -%}
{% elif run.results[example_name][platform] == "Failures" -%}
{% if run.logs[example_name] -%}
{% if run.logs[example_name][platform] -%}
<div data-bs-toggle="popover" data-bs-trigger="hover" data-bs-html=true data-bs-custom-class="log-popover"
    data-bs-content='<pre>{{ run.logs[example_name][platform] }}</pre>'>
    {{ icons::fail() }}
</div>
{% else -%}
{{ icons::fail() }}
{% endif -%}
{% else -%}
{{ icons::fail() }}
{% endif -%}
{% elif run.results[example_name][platform] == "NoScreenshots" -%}
{{ icons::missing_screenshot() }}
{% endif -%}
{% else -%}
-
{% endif -%}
{% endmacro status %}