name: Workflow - Tests on Mobile

on:
  workflow_call:
    inputs:
      gitref:
        required: true
        type: string
      nonce:
        required: true
        type: string
      mobile_percy_project:
        required: true
        type: string

jobs:
  build-for-iOS:
    runs-on: macos-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'bevyengine/bevy'
          ref: ${{ inputs.gitref }}

      - uses: dtolnay/rust-toolchain@stable

      - name: Add iOS targets
        run: rustup target add aarch64-apple-ios x86_64-apple-ios

      - name: Build app for iOS
        run: |
          cd examples/mobile
          make xcodebuild-iphone
          mkdir Payload
          mv build/Build/Products/Debug-iphoneos/bevy_mobile_example.app Payload
          zip -r bevy_mobile_example.zip Payload
          mv bevy_mobile_example.zip bevy_mobile_example.ipa

      - name: Upload to Browser Stack
        run: |
          curl -u "${{ secrets.BROWSERSTACK_USERNAME }}:${{ secrets.BROWSERSTACK_ACCESS_KEY }}" \
            -X POST "https://api-cloud.browserstack.com/app-automate/upload" \
            -F "file=@examples/mobile/bevy_mobile_example.ipa" \
            -F "custom_id=$GITHUB_RUN_ID"

  build-for-Android:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'bevyengine/bevy'
          ref: ${{ inputs.gitref }}

      - uses: dtolnay/rust-toolchain@stable

      - name: Add Android targets
        run: rustup target add aarch64-linux-android armv7-linux-androideabi

      - name: Install Cargo APK
        run: cargo install --force cargo-apk

      - name: Build app for Android
        run: ANDROID_NDK_ROOT=$ANDROID_NDK_LATEST_HOME cargo apk build --package bevy_mobile_example
        env: 
          # This will reduce the APK size from 1GB to ~200MB
          CARGO_PROFILE_DEV_DEBUG: false

      - name: Upload to Browser Stack
        run: |
          curl -u "${{ secrets.BROWSERSTACK_USERNAME }}:${{ secrets.BROWSERSTACK_ACCESS_KEY }}" \
            -X POST "https://api-cloud.browserstack.com/app-automate/upload" \
            -F "file=@target/debug/apk/bevyexample.apk" \
            -F "custom_id=$GITHUB_RUN_ID"

  mobile-run:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: [build-for-iOS, build-for-Android]
    env: 
      PERCY_PARALLEL_NONCE: ${{ inputs.nonce }}
      PERCY_PARALLEL_TOTAL: ${{ strategy.job-total }}
    strategy:
      matrix:
        include:
          - device: "iPhone 13"
            os_version: "15"
          - device: "iPhone 14"
            os_version: "16"
          - device: "iPhone 15"
            os_version: "17"
          - device: "Xiaomi Redmi Note 11"
            os_version: "11.0"
          - device: "Google Pixel 6"
            os_version: "12.0"
          - device: "Samsung Galaxy S23"
            os_version: "13.0"
          - device: "Google Pixel 8"
            os_version: "14.0"
    steps:
      - uses: actions/checkout@v4
        with:
          repository: 'bevyengine/bevy'
          ref: ${{ inputs.gitref }}

      - name: Run Example
        run: |
          cd .github/start-mobile-example
          npm install
          npm install -g @percy/cli@latest
          npx percy app:exec --parallel -- npm run mobile
        env:
          BROWSERSTACK_APP_ID: ${{ github.run_id }}
          BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
          BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_MOBILE }}
          DEVICE: ${{ matrix.device }}
          OS_VERSION: ${{ matrix.os_version }}
          PERCY_COMMIT: ${{ inputs.gitref }}

      - name: Save screenshots
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: screenshots-${{ matrix.device }}-${{ matrix.os_version }}
          path: .github/start-mobile-example/*.png

  mobile-check-result:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    needs: [mobile-run]
    if: always()
    steps:
      - name: Wait for screenshots comparison
        run: |
          npm install -g @percy/cli@latest
          npx percy build:wait --project ${{ inputs.mobile_percy_project }} --commit ${{ inputs.gitref }}
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN_MOBILE }}
